{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejected Job Applications</title>
    <link rel="stylesheet" href="{% static 'css/rejected_jobs.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radley:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'partials/_header.html' %}
    <div class="content">
        <h1>REJECTED JOB APPLICATIONS</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Application Date</th>
                        <th>Role</th>
                        <th>Type</th>
                        <th>Company Name</th>
                        <th>Application Link</th>
                        <th>Posted Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if jobs %}
                    {% for job in jobs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ job.job_application_date }}</td>
                        <td>{{ job.job_title }}</td>
                        <td>{{ job.job_type }}</td>
                        <td>{{ job.company_name }}</td>
                        <td>
                            {% if job.applied_link %}
                                <a href="{{ job.applied_link }}" target="_blank">View</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>{{ job.job_posted_date }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="7" style="text-align: center;">No data found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>